.type-char_field {
    border-bottom: 3px solid transparent;
    margin-bottom: 7px;
}

.type-char_field.status-low,
.type-char_field.status-high {
    border-color: red;
}

.type-char_field.status-ok {
    border-color: orange;
}
.type-char_field.status-good {
    border-color: green;
}
